@font-face {
  font-family: "VCR_OSD_MONO";
  src: url("./assets/fonts/VCR_OSD_MONO_1.001.ttf");
}

@font-face {
  font-family: "Kayak_Sans_Regular";
  src: url("./assets/fonts/Kayak_Sans_Regular.otf");
}

:root {
  --green: #3B7032;
  --white: #E1DDD4;
  --red: rgb(192, 87, 70);
  --yellow: #E8AD2F;
  --black: #231F20;
  --primary--font: "VCR_OSD_MONO";
  --secondary--font: "Kayak_Sans_Regular";
  --cursor: "./assets/icons/cursor.png";
}

body {
  background-color: var(--green);
  margin: 0;
  padding: 0;
}

/* Tools */
.spotmeup-text > h1 {
  font-family: var(--primary--font);
  color: var(--white);
  font-size: 4rem;
  -webkit-text-stroke: 0.2px #231F20;
  text-shadow: 4px 5px 1px var(--black);
  padding: 0;
  margin: 0 2rem;
  width: auto;
  cursor: url("./assets/icons/cursor.png"), default;
}

.spotmeup-text {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-top: 3rem;
}

.spotmeup-text:hover > h1{
  text-shadow: 0px 0px 0px var(--black);
  cursor: pointer;
}

h1 {
  font-family: var(--primary--font);
  color: white;
  font-size: 15px;
  margin: 0;
}

p {
  font-family: var(--primary--font);
  color: white;
  font-size: 15px;
  margin: 0;
  margin-bottom: 1rem;
}

input {
  font-family: var(--primary--font);
  padding: 0.5rem;
  color: white;
  border: 2px solid var(--black);
  border-radius: 5px;
  font-size: 15px;
  outline: none;
}

button {
  font-family: var(--primary--font);
  padding: 0.5rem;
  color: var(--black);
  font-size: 15px;
  border-radius: 10px;
  border: 2px solid var(--black);
  box-shadow: 2px 4px 0px var(--black);
}

button:hover {
  box-shadow: 2px 4px 0px var(--yellow);
  color: var(--yellow);
  cursor: pointer;
}

.spotMeUpIcon {
  background-image: url("/SpotMeUp-03.png");
  background-size: 235%;
  background-position: center;
  width: 100px;
  height: 100px;
  margin: 0rem auto;
  margin-top: 45%;
  margin-bottom: 5%;
}

.forgot-password {
  color: var(--white);
}

.forgot-password:hover {
  text-decoration: underline;
  cursor: pointer;
  color: var(--yellow);
}

/* Login Form */

.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.login-form-smaller-container {
  display: flex;
  flex-direction: column;
  margin-right: 10%;
  position: relative;

}

.login-form-smaller-container > button {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.login-form-smaller-container > input {
  margin-bottom: 0.5rem;

}

.login-text {
  text-align: center;
  -webkit-text-stroke: 0.1px #231F20;
  text-shadow: 1px 1px 0px var(--black);
  font-size: 20px;
}

.bubble-light {
    position: absolute;
    top: 42%;
    left: 85%;
    transform: translate(-50%, -50%);
    background-image: url(/bubble-light.png);
    width: 530px;
    height: 500px;
    background-size: 70%;
    background-repeat: no-repeat;
    margin-right: 10%;
    pointer-events: none;
}

@media (max-width: 750px) {
       .login-mobilv {
        display: flex;
        flex-direction: column;
       }

       .login-form-smaller-container {
        margin-right: auto;
        margin-left: auto;
        margin-top: 22%;
    }  
}


/* Sign Up Form */

.signup-prompt > a {
  color: var(--white);
  text-decoration: underline;
  cursor: pointer;
}

.signup-prompt > a:hover {
  /* text-decoration-color: var(--black); */
  color: var(--yellow);
}